/* HOME CSS===================================== */
*{
    box-sizing: border-box;
}
.home_page{
    height: 100vh;
    width: 100vw;
    display: flex !important;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

/* *{
    color: #35b8fedb;
} */

.container{
    height: 90%;
    width: 90%;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
    
}


.sidebar{
    background-color:rgb(36, 191, 242) ;
    flex: 1;
}
.chat{
    flex: 2;
    position: relative;
    background-color: rgb(92, 199, 234);
}
/* Auth CSS ================================================ */

.auth{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Navbar CSS ============================================*/
.logout_button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.logo{
    font-weight: 900;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(36, 191, 242);
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .navbar_name{
    margin-right: 10px;
} */
.nav_img{
    height: 24px;
    width: 24px;
    object-fit: cover;
}

/* Search Css =========================================================== */

.search{
    background-color: rgb(81, 81, 252);
    color: white;
}
.search_input{
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    height: 30px;
}
.search_input::placeholder{
    color: white;
}
.search_input:focus{
    outline: none;
}

.userChat_div{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Chats CSS=================================================================== */
.chats{
    padding: 10px;
}
.user_Chat{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userChatInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}
.userChatInfo > p {
    margin: 0;
}

/* CHat CSS ============================================================ */

.chatInfo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(81, 81, 252);
    padding: 10px;
    z-index: 5;
}
.icon{
    margin-right: 15px;
}
/* input css========================================= */
.input_page{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgb(81, 81, 252);


}

.type_input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    border-right: 0.5px solid gray;
    outline: none;
}
.type_input::placeholder{
    color: white;
}

.send{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.send_button{
    padding: 10px;
    width: auto;
    margin-right: 15px;
}
/* Messages CSS =================================================== */
.messages{
    padding: 70px 10px 10px 10px;
    height: 91%;
    overflow-y: scroll;

}
/* Message Css========================================================= */

.message{
    /* background-color: yellow; */
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.message_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.message_info>p{
    margin: 0;
    padding: 0
}

.message_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 80%;
}

.message_content_p{
    background-color: white;
    display: inline;
    width: max-content;
    padding: 10px 20px;
    border-radius: 0 10px 10px 10px;
    margin: 0 0 10px 0;
}
.msg_content_img{
    width: 20%;
}

.owner{
    flex-direction: row-reverse;
}

.owner > .message_content {
    align-items: flex-end;
}

.owner > .message_info {
    align-items: flex-end;
}

.owner > .message_content > .msg_content_img{
    height: auto;
    width: 20%;
}

.owner > .message_content >.message_content_p{
    background-color: rgb(104, 104, 238);
}