/* HOME CSS===================================== */
*{
    box-sizing: border-box;
}
.home_page{
    height: 100vh;
    width: 100vw;
    display: flex !important;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

/* *{
    color: #35b8fedb;
} */

.container{
    height: 90%;
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    overflow: hidden;
    
}


.sidebar{
    background-color:#070d22fa;
    /* flex: 1; */
    max-width: 320px;
    /* overflow: hidden; */
    padding: 10px;
    border-radius: 10px;
}
.chat{
    /* flex: 2; */
    position: relative;
    background-color:#070d22fa;
    width: 80%;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}
/* Auth CSS ================================================ */
.file_input{
    display: flex;
    align-items: center;
    gap: 15px;
}
.auth{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Navbar CSS ============================================*/
.logout_button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.logo{
    font-weight: 600;
    font-size: 15px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(36, 191, 242);
    border-radius: 10px;
    margin-bottom: 5px;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .navbar_name{
    margin-right: 10px;
} */
.nav_img{
    height: 24px;
    width: 24px;
    object-fit: cover;
}

/* Search Css =========================================================== */

.search{
    background-color: rgb(36, 191, 242);
    border-radius: 5px;
    margin-bottom: 25px;
}
.search_input{
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    height: 30px;
}
.search_input::placeholder{
    color: black;
}
.search_input:focus{
    outline: none;
}

.userChat_div{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Chats CSS=================================================================== */

.user_Chat{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(36, 191, 242, 0.116);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.userChatInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}
.userChatInfo > p {
    margin: 0;
}

.userChatInfo > span{
    margin-bottom: 2px;
}
/* CHat CSS ============================================================ */

.last_message{
    background-color: rgba(185, 180, 231, 0.295);
    width: 150px;
    overflow-wrap: break-word;
    text-align: start;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    
}
.chatInfo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 191, 242);
    margin: 10px;
    padding: 10px;
    z-index: 5;
    border-radius: 10px;
}
.icon{
    cursor: pointer;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;

}
.icon:hover{
    transform: scale(1.1);
    background-color:rgb(9, 42, 53) ;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 100vw 100vw 100vw 100vw;
}
/* input css========================================= */
.input_page{
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgb(36, 191, 242);
    color: black;
    margin: 10px;
    border-radius: 10px;


}

.type_input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    border-right: 0.5px solid gray;
    outline: none;
}
.type_input::placeholder{
    color: black;
}

.send{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.send_button{
    cursor: pointer;
    padding: 10px;
    width: auto;
    margin-right: 15px;
    border-radius: 10px;
    background-color: rgb(36, 191, 242);
    box-shadow: 0 0 20px black;
}

#files  #file-upload-button{
    border-radius: 10px;
    background-color: black;
}
/* Messages CSS =================================================== */
.messages{
    padding: 70px 10px 10px 10px;
    height: 91%;
    overflow-y: scroll;

}
/* Message Css========================================================= */

.message{
    /* background-color: yellow; */
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.message_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.message_info>p{
    margin: 0;
    padding: 0;
}

.span{
    color: white;
}
.message_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 70%;
    /* min-width: max-content; */

}

.message_content_p{
    background-color: rgb(36, 191, 242);
    padding: 10px 20px;
    border-radius: 0 10px 10px 10px;
    margin: 0 0 10px 0;
    text-align: start;
    word-break: break-all;

}
.msg_content_img{
    width: 20%;
}

.owner{
    flex-direction: row-reverse;
}

.owner > .message_content {
    align-items: flex-end;
}

.owner > .message_info {
    align-items: flex-end;
}

.owner > .message_content > .msg_content_img{
    height: auto;
    width: 20%;
}

.owner > .message_content >.message_content_p{
    background-color: rgb(104, 104, 238);
    /* word-wrap: break-word; */
}



::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Style for the scrollbar track */
  ::-webkit-scrollbar-track {
    background:#070d22fa;
  }
  
  /* Style for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: rgb(104, 104, 238);
    border-radius: 4px;
  }

  @media (max-width: 600px){
    .container{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        overflow-y: scroll;
    }
    .sidebar{
        max-width: unset;
        width: 95%;
    }
    .chat{
        margin-top: 10px;
        width: 95%;
        min-height: 500px;
        margin-top: 10px;
        margin-left: 0;
    }
    }